body {
    margin: 0;
}

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25rem 1fr 1fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "menu menu"
      "article img"
      "img article"
      "article img"
      "img article";
}

h1 {
    color: rgb(254, 255, 255);
    display: inline-block;
}

img {
    border: Solid yellow 2px;
}

menu { 
    grid-area: menu; 
    display: flex;
    background-color: black;
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0;
}
  
ul {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    background-color: rgb(0, 162, 255);
    color: rgb(0, 0, 0);
    border-radius: 25% 10%;
}

section { 
    grid-area: section;
    background-color: white;
    grid-column-start: 2;
    height: 40.75rem;
}

article {
    background-color: rgb(148, 147, 147);
    height: auto;
    padding: 2rem;
    margin: 2rem;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
